.image-container
{
     
     width: 15%;

    
   
}

.image-container img{
  height: 100%;
  width: 100%;
  position: relative;
  left: 0px;
  padding: 5px 10px;
}
@media(max-width:500px)
{
  .image-container
{
     
     width: 50%;
     height: 100%;
    

   
}
.image-container img{
  height: 100%;
  width: 100%;
  position: relative;
  left: 0px;
  padding: 0;
  font-size: 50px;
}

}