.image-container
{
     
     width: 13%;
    height: 80px;
    
   
}

.image-container img{
  height: 87%;
  width: 90%;
  line-height: 70%;
  position: relative;
  top:10px;
  left: 10px;
  padding: 5px 10px;
}
@media(max-width:500px)
{
  .image-container
{
     
     width: 60%;
     height: 60px;
     
    

   
}
.image-container img{
  height: 70%;
  width: 100%;
  position: relative;
  left: 0px;
  padding: 0;
  font-size: 50px;
}

}