.main-layout {
  position: relative;
 
  
}

.background-logo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: url('/bgimage.jpg'); /* Make sure this image is inside the 'public' folder */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.05; /* ✅ Keep this between 0 (transparent) and 1 (opaque) */
  pointer-events: none;
}


.main-content {
 
  z-index: 1;
  padding: 2px;
  

  

}
