/* productdetails.css */
.product-details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1.5rem;
  padding: 1rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  top:60px;
  
}

@media (min-width: 768px) {
  .product-details-container {
    flex-direction: row;
  }
}

.product-image img {
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0px 0px 5px 0px black;
}


.details-container {
  
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 600px;
  
  justify-content: space-around;
}

.product-info p,
.product-info strong {
  margin: 0.25rem 0;
  color: #333;
}

.product-info h2 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.product-info ul {
  margin: 0.25rem 0 0.75rem 1rem;
}

.technical-specs {
 
  width: 100%;
}

.technical-specs h3 {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  color: #333;
}

.spec-list {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  width: 100%;
}

.spec-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #fafafa;
  width: 100%;
  box-sizing: border-box;
}

.spec-label {
  font-weight: 600;
  color: #555;
}

.spec-value {
  color: #333;
  text-align: right;
  word-break: break-word;
  
  width: 40%;
  display: flex;
  justify-content: start;
  
}

@media (max-width: 600px) {
  .spec-row {
    padding: 0.6rem 0.8rem;
  }
  .product-info h2 {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
}





 .buy-now-btn {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  text-transform: capitalize;
  text-decoration: none;
 background-color: #5c2e00;
 color: white;
  cursor: pointer;
  margin-bottom: 20px;
}
  .buy-now-btn a{
    color: white;
  }

.buy-now-btn:hover {
 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.buy-now-btn:active {
  transform: scale(0.98);
}

.product-image1{
  
  width: 30%;
  display: flex;
  flex-direction: column;
 
}
.big-image{
 
  height: 400px;
  width: 100%;
}
.big-image img{
  height: 100%;
  width: 100%;
}
.small-image{
 
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
 

}

.image-con{
  
  height: 75%;
  width: 30%;
  box-shadow: 0px 0px 4px 0px black;
  border-radius: 15px;

}
.image-con img{
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 15px;
}

@media (max-width:500px)
{
  .product-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  top:0px;
  
}
.details-container {
  
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;
  
  justify-content: space-around;
}
.product-image1{
  
  width: 100%;
  display: flex;
  flex-direction: column;
 
}


}